<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="department">
      <h2 data-cy="departmentDetailsHeading"><span jhiTranslate="fraudMgtApp.department.detail.title">Department</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <!-- <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ department.id }}</span>
        </dd> -->
        <dt><span jhiTranslate="fraudMgtApp.department.departmentName">Department Name</span></dt>
        <dd>
          <span>{{ department.departmentName }}</span>
        </dd>
        <dt><span jhiTranslate="fraudMgtApp.department.description">Description</span></dt>
        <dd>
          <span>{{ department.description }}</span>
        </dd>
        <dt><span jhiTranslate="fraudMgtApp.department.division">Division</span></dt>
        <dd>
          <div *ngIf="department.division">
            <a [routerLink]="['/division', department.division.id, 'view']">{{ department.division.divisionName }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/department', department.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
